@import url(public.css);
body{
	background:#fff;
}
*{
   font-family:Arial,Verdana,"\5b8b\4f53";
   font-size: 12px;
   color:#666;
}
/*hand*/
.hand{
	height: 30px;
	width: 100%;
	background: #f1f1f1;
}
.songzhi{
	width: 1210px;
	height: 30px;
	margin: auto;
	line-height: 30px;
	text-align: center;
}
.beijing{
	width: 60px;
	height: 30px;
	float: left;
	padding:0 27px 0 10px;
}
a:hover.beijing,a:hover.shu2,a:hover.shu5,a:hover.shu6{
	background: #fff;
}
.xiala{
	width: 12px;
	height: 30px;
	margin: 11px 0 12px 11px;
	float: left;
}
.nihao{
	width: 797px;
	height: 30px;
	float: right;
}
.nh{
	width: 126px;
	height: 30px;
	padding: 0,2px;
	margin-right: 10px;
	float: left;
}
.nhao{
	float: left;
	
}
a:hover.nhao{
	color: #C81623;
}
.zhuce{
	color: #C81623;
	float: right;

}
.shugang{
	width: 1px;
	height: 12px;
	margin-top: 9px;
	float: left;
	background:  #ddd;

}
.dingdan{
	display: block;

	width: 64px;
	height: 30px;
	float: left;
	padding: 0 2px;
}
.shu2{
	display: block;
	height: 30px; 
	width: 49px;
	padding: 0 27px 0 10px;
	float: left;
}
.shu3{
	display: block;

	width: 68px;
	height: 30px;
	float: left;
	padding: 0 2px;
}
a:hover.dingdan,a:hover.shu2,a:hover.shu3{
	color: #C81623;
}
.shu4{
	width: 48px;
	height: 30px;
	padding: 0 27px;
	display: block;
	float: left;
	background: url(../image/jd2015img.png) no-repeat 7px 5px;
}
a:hover.shu4{
	color: #C81623;
    background: #fff url(../image/jd2015img.png) no-repeat 7px -20px;

}
.shu5{
	display: block;
	height: 30px; 
	width: 49px;
	padding: 0 27px 0 10px;
	float: left;
}
.shu6{
	display: block;
	height: 30px; 
	width: 49px;
	padding: 0 26px 0 10px;
	float: left;
}
/*hand*/
/*logo*/
.loga{
	width: 1210px;
	height: 100px;
	margin: auto;
}
.logo{
	width: 362px;
	height: 60px;
	padding: 20px 0;
	float: left;
}
.jdlg{
	display: block;
	width: 270px;
	height: 60px;
	text-indent: -2000px;
	background: url(../image/logo-201305.png) no-repeat left;
}
.sous{
	width: 538px;
	height: 40px;
	margin-top: 25px;
	float: left;

}
.sskuang{
	width: 538px;
	height: 36px;
	
}
.eage{
	width: 446px;
	height: 24px;
	padding: 4px;
	border:2px solid #B61D1D;
	border-right: 0;
	margin-bottom: 4px;
	float: left; 
	color: rgb(153, 153, 153);
	outline: 0;
}
.ssann{
	color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    text-align: center;
    background: #B61D1D;
    width: 82px;
    height: 36px;
    cursor: pointer;
    border: none;
    float: left;
    outline: 0;
}
.gouwuche{
	width: 141px;
	height: 36px;
	margin: 25px 65px 0 0;
	float: right;
}
.gwc{
	width: 75px;
	height: 34px;
	padding: 0 28px 0 36px;
	border: 1px solid #dfdfdf;
	background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    position: relative;
}
.gwctb{
	position: absolute;
	width: 18px;
	height: 16px;
	top: 9px;
	left: 18px;
	background: url(../image/jd2015img.png) no-repeat 0 -58px;

}
.gwcy{
	position: absolute;
	width: 7px;
	height: 13px;
	top: 11px;
	right: 10px;
	font: 400 13px/13px simsun;
}
.gwcgs{
	position: absolute;
	top: -4px;
	left: 104px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #c81623;
	border-radius: 7px 7px 7px 0;
	text-align: center;
}
.wodegwc{
	text-decoration: none;
	text-align: center;
	line-height: 34px;
	display: block;
}
.resou{
	width: 518px;
	height: 20px;
	float: left;
	line-height: 20px;
}
.resou a{
	float: left;
	margin-right: 10px;

}
.resou a:hover{
	color: #c81623;
}
.resou1{
	color: #c81623;
}
/*logo*/
/*quanbushangpin*/
.quanbushangpin{/*
	width: 100%;*/
	height: 44px;
	border-bottom: 2px solid #b1191a;
}
.qb{
	width: 1210px;
	height: 44px;
	margin: 0 auto;
}
.qbfl{
	width: 210px;
	height: 44px;
	float: left;
	position: relative;
}
.qbfl1{
	width: 210px;
	height: 44px;
	float: left;
}
.qbfl1 a{
	display: block;
	width: 190px;
	height: 44px;
	padding: 0 10px;
	float: left;
	font: 400 15px/44px "microsoft yahei";
	color: #fff;
	background: #b1191a;
    line-height: 44px;
}
.gezhongfl{
	width: 210px;
	height: 415px;
    position: absolute;
    top: 46px;
}
.jydq{
	width: 209px;
	height: 31px;
	border-left: 1px solid #b61d1d;
	background: #c81623;
}

.gezhongfl div a{
	display: block;
	padding: 0 10px;
	color: #fff;
	line-height: 31px;
	font-size: 14px;
	font-weight: 400;
	background: #c81623;

}
.gezhongfl div a:hover{
	color: #c81623;
	background: #fff;    
}.fzc{
	
	float: left;
}
.fzc div a{
	display: block;
	float: left;
	height: 44px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font: 400 15px/44px "microsoft yahei";
    color: #333;
}
.fzc div a:hover{
    color: #b1191a;
}
.gwd{
	float: left;
}
/*quanbushangpin*/
/*banner*/
.banner{
	width: 1210px;
	height: 466px;
	margin: 0 auto;
}
.banner_img{
	width: 730px;
	height: 454px;
	padding: 12px 0 0 220px;
	float: left;
	
}
.imageq{
	position: relative;
	overflow: hidden;
	width: 730px;
	height: 454px;
}
.imga{
	display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.zuoq{
	display: block;
	width: 28px;
	height: 62px;
	position: absolute;
	top: 196px;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,.2);
	color: #fff;
     font:400 22px/62px simsun;
}
.youq{
	display: block;
	width: 28px;
	height: 62px;
	position: absolute;
	top: 196px;
	right: 0;
	text-align: center;
	background: rgba(0,0,0,.2);
	color: #fff;
     font:400 22px/62px simsun;
}
.qyd{
	width: 750px;
	position: absolute;
	left: 299px;
	top: 426px;

}
.img1d{
	width: 18px;
	height: 18px;
	margin: 0 2px;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	float: left;
	color: #fff;
	background: #3e3e3e;
}
.jdkb{
	width: 1210px;
	position: absolute;
	z-index: 999;
	top: 176px;
}
.jingdongkb{
	width: 248px;
	height: 163px;
	position: absolute;
	right: 0;
	top: 12px;
	border: 1px solid #e4e4e4;
	border-bottom: 0;
}
.jingdkb{
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	border-bottom: 1px dotted #E8E8E7;
}
.jingdkb span{
	font-size: 16px;
	font-weight: 400;
	display: block;
	float: left;
	line-height: 32px;
}
.jingdkb a{	
	display: block;
	float: right;
	line-height: 32px;
}
.jingdkb a:hover{
	color:  #b1191a;
}
.mc{
	height: 120px;
	padding: 5px 0 0 15px;

}
.mc a{
	display: block;
	line-height: 24px;
	
}
.mc a:hover{
	color:  #b1191a;
}
.mc a span{
	font-weight: 700;
	margin-right: 5px;
}
.huafeiw{
	position: absolute;
	top: 176px;
	width: 248px;
	border: 1px solid #e4e4e4;
	right:0;
}
.hfdak{
	height: 208px;
	position: relative;
	overflow: hidden;
}
.hfxiaoks{
	position: relative;
    width: 260px;
    height: 209px;
    overflow: hidden;
}
.hfxiaok{
	float: left;
    display: inline;
    width: 62px;
    height: 70px;
    border-right: 1px solid #E8E8E7;
    border-bottom: 1px solid #E8E8E7;
    overflow: hidden;
    cursor: pointer;
}
.hfxiaok a{
	display: block;
    width: 62px;
    height: 28px;
    padding-top: 41px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.hfxiaok a:hover{
	color:#b1191a;
}
.hftbiao1{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 0;
}.hftbiao2{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -25px;
}.hftbiao3{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -50px;
}.hftbiao4{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -75px;
}.hftbiao5{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -100px;
}.hftbiao6{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -125px;
}.hftbiao7{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -150px;
}.hftbiao8{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -175px;
}.hftbiao9{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -200px;
}.hftbiao10{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -225px;
}.hftbiao11{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -250px;
}
.hftbiao12{
	position: absolute;
	top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat 0 -275px;
}
.suijitup{
	position: absolute;
    right: 0;
    padding: 0;
    background: rgba(255,255,255,.85);
    overflow: hidden;
    width: 250px;
    height: 75px;
    top: 391px;
}
.suijitupian1{
	display: block;

}
/*banner*/
/*今日推荐*/
.jinrituijian{
	width: 1210px;
	height: 184px;
	margin:0 auto;
}
.jrtj{
	height: 164px;
	margin: 10px 0 20px;
	overflow: hidden;
}
.jrtjzuo{
	float: left;
	width: 210px;
	height: 151px;
	background: url(../image/homebg.png) no-repeat -213px -136px;
}
.jrtjyou{
	position: relative;
	width: 1000px;
	height: 164px;
	float: left;
	overflow: hidden;
}
/*.jrtjydk{
	width: 4000px;
	height: 164px;
	position: absolute;
	left: 0;
	top:0;
}*/
.jrtjzk{
	width: 1000px;
	height: 164px;
	float: left;
	position: absolute;
}
.jrtjzk a{
	display: block;
	float: left;
	overflow: hidden;
}
.jrtjzq{
	position: absolute;
	top: 50%;
	margin-top: -31px;
	z-index: 1;
	width: 28px;
	left: 0;
	height: 62px;
	line-height: 62px;
	background: gray;
	opacity: 0.4;
	display: none;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
}
.jrtjyq{
	position: absolute;
	top: 50%;
	display: none;
	margin-top: -31px;
	z-index: 1;
	width: 28px;
	right: 0;
	height: 62px;
	line-height: 62px;
	background: gray;
	opacity: 0.4;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
}
/*今日推荐*/
/*猜你喜欢*/
.cainixihuan{
	width: 1210px;
	height: 289px;
	margin: 0 auto;
}
.cnxh{
	width: 1210px;
	height: 268px;
	margin-bottom: 20px;
	overflow: visible;
}
.cnxhdc{
	height: 36px;
	overflow: hidden;
}
.cnxhc{
	padding-right: 228px;
	background: url(../image/homebg.png) 85px -91px;
	color: #333;
	float: left;
	display: inline;
	line-height: 30px;
	font-size: 20px;
	font-weight: 400;
	font-family: "microsoft yahei";
}
.cnxhhyp{
	float: right;
	display: block;
	height: 18px;
	padding-right: 25px;
	margin-top: 8px;
	background: url(../image/homebg.png) -310px -5px no-repeat;
}
.cnxhdc a:hover{
	color: #b72323;
	background: url(../image/homebg.png) -310px -29px no-repeat;
}
.cnxhhw{
	height: 232px;
	border: 1px solid #ededed;
	border-top: 0;
	overflow: visible;
}
.cnxhhuadian{
	position: relative;
	height: 1px;
	line-height: 0;
	font-size: 0;
	background-color: #d1d1d1;
}
.cnxhhdw{
	position: absolute;
	width: 365px;
	height: 5px;
	overflow: hidden;
	left: 844px;
	top: -2px;
	
}
.cnxhhd{
	position: absolute;
	width: 365px;
	height: 5px;
	overflow: hidden;
	top:0;
	right: 0;
	background: #b72323 url(../image/homebg.png) no-repeat 0 -124px;
}
.cnxhnr{
	height: 210px;
	padding-top: 20px;
	overflow: hidden;
	display: none;
}
.cnxhnr1{
	width: 201px;
	float: left;
	overflow: hidden;
	padding-bottom: 15px;

}
.cnxhnrimg{
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}
.cnxhnrimg a{

	display: block;
	
}
.cnxhnrwenzi{
	padding: 0 36px;
	border-left: 1px solid #e6e6e6;
}
.cnxhnrwenzi a{
	display: block;
	height: 36px;
	margin-bottom: 6px;
	overflow: hidden;
	text-align: center;
}
.cnxhnrwenzi a:hover{
	color: #C81623;
}
.cnxhnrjiage{
	color:#b51d1a;
	/*text-align: center;*/
	font-size: 18px;
}
.cnxhnrjiage i{
	font-size: 14px;
	font-style: normal;
	color:#b51d1a;
}
/*猜你喜欢*/
/*品质生活*/
.pinzhishenghuo{
	/*background: url(../image/loading.gif) no-repeat center center;*/
	width: 1210px;
	margin:0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.pzsh{
	width: 1210px;
	border-bottom: 20px;
}
.pzsh h2{
	color: #333;
	font-size: 20px;
	line-height: 36px;
	font-family: "microsoft yahei";
	font-weight: 400;
}
.pzshnr{
	height: 405px;
	border: 1px solid #ededed;
	overflow: hidden;
}
.xinfaxian{
	background: #f7f7f7;
	float: left;
	height: 100%;
}
.xinpinjianhuo{
	width: 403px;
	position: relative;
	display: block;
	height: 246px;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	overflow: hidden;
	text-align: center;
}
.xfx{
	font: 700 15px/40px 'Microsoft Yahei';
	color: #333;
	text-align: center;
	z-index: 1;
	border-bottom: 1px dashed #e0e0e0;
	margin: 0 20px;
}
.xinpinjianhuo .mingcheng{
	position: absolute;
	left: 45px;
	top: 109px;
	color: #333;
	font-family: 'Microsoft Yahei';
	line-height: 1.2;
	z-index: 2;
}
.tit{
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 12px;
}
.desc{
	margin-bottom: 4px;
}
.promotion{
	color: #c81623;
}
.xinpinjianhuo img{
	position: absolute;
	left: 0;
}
.yushouqiangxian{
	float: left;
	width: 201px;
	height: 158px;
	position: relative;
	border-right: 1px solid #ededed;
	overflow: hidden;
}
.yushouqiangxian .mingcheng{
	display: block;
	position: absolute;
	left: 10px;
	top: 48px;
	color: #333;
	font-family: 'Microsoft Yahei';
	line-height: 1.2;
	z-index: 2;
}
.chuangyihaohuo{
	width: 228px;
	position: relative;
	display: block;
	height: 246px;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	overflow: hidden;
	text-align: center;
}
.chuangyihaohuo .mingcheng{
	position: absolute;
	left: 10px;
	top: 109px;
	color: #333;
	font-family: 'Microsoft Yahei';
	line-height: 1.2;
	z-index: 2;
}
.pzshpinpai{
	float: right;
	position: relative;
	width: 171px;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
.pzshpinpaizuo{
	border-right: 1px dashed #e0e0e0;
	width: 85px;
	position: relative;
	float: left;
	height: 381px;
	margin-top: 13px;
}
.pzshpinpaiyou{
	/*border-right: 1px dashed #e0e0e0;*/
	width: 85px;
	position: relative;
	float: left;
	height: 381px;
	margin-top: 13px;
}
.pzshpinpaiyou ul{
	margin-top: -13px;
	display: block;
	overflow: hidden;
	list-style: none;
}
.pzshpinpaizuo ul{
	margin-top: -13px;
	display: block;
	overflow: hidden;
	list-style: none;
}
.pinpai{
	position: relative;
	float: right;
	width: 74px;
	height: 57px;
	border-bottom: 1px dashed #e0e0e0;
}
.pinpai1{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 85px;
	height: 57px;
	overflow: hidden;
}

/*品质生活*/
/*banner1*/
.banner1{
	width: 1210px;
	height: 140px;
	margin:0 auto;
}
.banner1kuang{
	height: 110px;
	width: 1200px;
	margin-bottom: 30px;
	overflow: visible;
	margin:0 auto;
}
.banner1kuang a{
	float: left;
	display: block;
}
.banner1kuang a img{
	border:0;
	width: 400px;
	height: 125px; 
}

/*banner1*/
/*楼层*/
.jiayongdianqi{
	width: 1210px;
	height: 587px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.jydqdakuang{
	/*overflow: hidden;*/
}
.jydqcaidan{
	border-bottom: 1px solid #c81623;
	overflow: visible;
	position: relative;
	height: 36px;
}
.jydqlc{
	padding-left: 40px;
	position: relative;
	color: #333;
	float: left;
	line-height: 30px;
	font-size: 20px;
	font-weight: 400;
	display: inline;
}
.dklctb{
	position: absolute;
	width: 31px;
	height: 25px;
	left: 0;
	top: 0;
	z-index: 0;
	background: url(../image/product.png) no-repeat 0 0;
}
.dklctb1{
	position: absolute;
	width: 31px;
	height: 25px;
	left: 0;
	bottom: 0;
	
	background: url(../image/floor1new.png) no-repeat 0 0;
	/*background-position-y: 0px;*/
}
.dklctb1z{
	position: absolute;
	width: 31px;
	height: 25px;
	left: 0;
	bottom: 5px;
	z-index: 1;
	overflow: hidden;
}
.silou{
	padding-right: 10px;
	width: 21px;
	height: 25px;
	position: absolute;

	z-index: 2;
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	left: 0;
	top: 0;
    /*background: url(../image/floor1new.png) no-repeat 0 0;*/

}
.remen{
	margin-top: 1px;
	float: right;
	border: 1px solid #ededed;
	border-bottom: 0 none;
	height: 34px;
	/*width: 693px;*/
	line-height: 34px;
}
.re{
	float: left;
	height: 35px;
	/*overflow: hidden;*/
	position: relative;
}
.re span{
	display: block;
	/*overflow: hidden;*/
	text-align: center;
	width: 1px;
    position: absolute;
    top: 10px;
    right: 0;
    background: #ccc;
	height: 14px;
	line-height: 34px;
}
.rm{
	position: absolute;
	padding: 0 16px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	display: block;
	top: 0;
	left: 0;
	background: #fff;
	line-height: 34px;
	background: #fff;
	height: 34px;
	white-space: nowrap;
}
.rm1{

	position: absolute;
	border-left: solid 1px #c81623;
	border-right: solid 1px #c81623;
	border-top: solid 3px #c81623;
	/*border-bottom: solid 1px #ffffff;*/
	display: block;
	padding: 0 16px;
	background: #fff;
	top: -1px;
	left: 0px;
	height: 33px;
	line-height: 30px;
	color: #c81623;
	white-space: nowrap;
}
/*楼层*/
/*一楼*/
.yilou{
	width: 1210px;
	height: 737px;
	margin:0 auto;
	margin-bottom: 30px;
	overflow: visible;
}
.yilounr{
	overflow: hidden;
	/*height: 800px;*/
}
.yilou1{
	float: left;
	width: 330px;
	overflow: hidden;
	font-family: "microsoft yahei";
}
.yilou1shang{
	position: relative;
	width: 330px;
	background: #e5ebeb;
	overflow: hidden;
}
.yiloubeijing{
	position: relative;
	height: 474px;
}

/*.yilouguang{
	content: "";
	position: absolute;
	width: 80px;
	height: 350px;
	top: 0;
	left: -150px;
	overflow: hidden;
	background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
	-webkit-transform: skewX(-25deg);
}*/
.yiloubeijing a{
	display: block;
	height: 475px;

}
.fuyi{
	padding-left: 25px;
	margin-top: -221px;
	position: relative;
	height: 92px;
	overflow: hidden;
	background: rgba(255,255,255,.5);
}
.yilounz{
	float: left;
	width: 100px;
	height: 26px;
	padding: 10px 0;
}
.yilounznr1{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/clothesicon.png) 0 0 no-repeat;
}
.yilounznr2{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/clothesicon.png) 0 -26px no-repeat;
}
.yilounznr3{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/clothesicon.png) 0 -52px no-repeat;
}
.yilounznr4{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/clothesicon.png) 0 -78px no-repeat;
}
.yilounznr5{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/clothesicon.png) 0 -104px no-repeat;
}
.yilounznr6{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/clothesicon.png) 0 -130px no-repeat;
}
.fuer{
	height: 128px;
	border-bottom: 1px solid #ededed;
	background: rgba(255,255,255,.7);
	position: relative;
	font-family: \5b8b\4f53;
	color:#999;
}
.fuer1{
	height: 96px;
	float: left;
	width: 135px;
	padding: 16px 0 0 25px;
	overflow: hidden;
}
.fuer1 a{
	float: left;
	margin-right: 10px;
	line-height: 24px;
	white-space: nowrap;
}
.fuer1 a:hover{
	color: #C81623;
}
.fuer1a{
	color: #C81623;
}
.yilou1xia{
	width: 328px;
	height: 157px;
	border: 1px solid #ededed;
	border-left: 1px solid #f7f5ee;
	border-top: 0;
	overflow: hidden;
}
.yilou2{
	width: 880px;
	height: 633px;
	display: none;
	position: relative;
	float: left;
	overflow: hidden;
}
.yilou2yi{
	width: 440px;
	height: 158px;
	float: left;
	overflow: hidden;
}
.yilou2yi a{
	display: block;
	height: 157px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
}
.yilou2er{
	float: left;
	height: 158px;
	width: 220px;
	overflow: hidden;
}
.yilou2er a{
	display: block;
	height: 157px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
}
.yilou2er1{
	float: right;
	height: 317px;
	width: 220px;
	overflow: hidden;
}
.yilou2er1 a{
	display: block;
	height: 315px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
}

.yiloulunbo{
	width: 439px;
	height: 315px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	float: left;
	overflow: hidden;
	position: relative;
}

.yiloulunbo a{
	/*height: 158px;*/
	/*border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;*/
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;

}
.yilouzuoq{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -31px;
	z-index: 1;
	display: none;
	width: 28px;
	height: 62px;
	line-height: 62px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
	background: rgba(0,0,0,.2);
}
.yilouyouq{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -31px;
	z-index: 1;
	display: none;
	width: 28px;
	height: 62px;
	line-height: 62px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
	background: rgba(0,0,0,.2);
}
.yiloulunbo ul{
    list-style: none;
    position: absolute;
    width: 100%;
	height: 0;
	line-height: 0;
	text-align: center;
	bottom: 19px;
	cursor: default;
}
.yiloulunbo ul li{
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 2px;
	background: #3e3e3e;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
}
.yiloupp{
	background: #f7f7f7;
	padding: 13px 0 13px 0;
	margin-top: 10px;
	float: left;
}
.yiloupp a{
	height: 40px;
	display: block;	
	/*background: #f7f7f7;*/
	float: left;
	width: 120px;
	text-align: center;
	border-left: 1px dotted #ccc;
	overflow: hidden;
	/*list-style: none;*/
}
.yilou2shang{
	width: 890px;
	height: 474px;
	overflow: hidden;
	float: left;
}
.yilou2xk{
	width: 185px;
	float: left;
	height: 230px;
	padding:6px 17px 0;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	overflow: hidden;
}
.yilou2xkimg{
	height: 140px;
	margin-bottom: 4px;
	overflow: hidden;
	display: block;
	text-align: center;
	padding-top: 15px;
}
.yilou2xknr{
	height: 3em;
	margin-bottom: 3px;
	line-height: 18px;
	overflow: hidden;
}
.yilou2xkjg{
	font-size: 15px;
	line-height: 18px;
	font-family: Verdana;
	color: #E4393C;
	overflow: hidden;
}
.yilou2xia{
	width: 890px;
	height: 158px;
	overflow: hidden;
}
.yilou2ximg{
	float: left;
	width: 219px;
	display: block;
	height: 157px;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
.yilou2ximg img{
	border: 0;
}
/*一楼*/
/*二楼*/
#erlou{
	height: 578px;
}
#erlou1{
	width: 210px;
}
#erlou2{
	width: 1000px;
	height: 474px;
}
.yilou1shang2{
	position: relative;
	width: 210px;
	background: #e5ebeb;
	overflow: hidden;
}
.fuyi2{
	padding-left: 10px;
	margin-top: -237px;
	position: relative;
	height: 92px;
	overflow: hidden;
	background: rgba(255,255,255,.5);
}
.yilounz2{
	float: left;
	width: 98px;
	height: 26px;
	padding: 10px 0;
}
.yilounznr12{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/cosmeticsicon.png) 0 0 no-repeat;
}
.yilounznr22{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/cosmeticsicon.png) 0 -26px no-repeat;
}

.yilounznr32{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/cosmeticsicon.png) 0 -52px no-repeat;
}

.yilounznr42{
	float: left;
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	padding:0 5px 0 31px;
	background: url(../image/cosmeticsicon.png) 0 -78px no-repeat;
}
.fuer2{
	position: relative;
	height: 48px;
	padding: 21px 0 0;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	background: rgba(255,255,255,.7);
}
.fuer2 a{
	float: left;
	width: 180px;
	height: 24px;
	padding-left: 25px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
	line-height: 24px;
}
.fuer2 a:hover{
	color: #C81623;
}
.fusan{
	position: relative;
	height: 76px;
	background: rgba(255,255,255,.7);
}
.fusan div{
	float: left;
	width: 165px;
	height: 48px;
	padding: 7px 0 0 25px;
	overflow: hidden;
}
.fusana{
	float: left;
	margin-right: 10px;
	line-height: 24px;
	white-space: nowrap;
}
.fusana2{
	float: left;
	margin-right: 10px;
	line-height: 24px;
	white-space: nowrap;	
	color: #C81623;
}
.fusana:hover{	
	color: #C81623;
}
#erloulunbo{
	width: 339px;
	height: 473px;
}
.erloulunboa1{
	border-bottom: 1px dotted #ccc;
}
.erlou2er{
	width: 440px;
	float: left;
}
.erlou22xk{
	width: 219px;
	height: 296px;
	float: left;
	display: block;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
}
.erlou2erxk img{
	border: 0;
}
.erlou22xk1{
	width: 219px;
	height: 176px;
	display: block;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	float: left;
	overflow: hidden;
}
.erlou2erxk1 img{
	border: 0;
}
.erlou2ky{
	float: left;
	width: 165px;
	height: 230px;
	padding: 6px 17px 0;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	overflow: hidden;
}
.erloukya1{
	height: 140px;
	margin-bottom: 4px;
	text-align: center;
	padding-top: 15px;
	display: block;
}
.erloukya2{
	display: block;
	height: 3em;
	margin-bottom: 3px;
	height: 36px;
	overflow: hidden;
	line-height: 18px;
}
.erloukya2:hover{
	color: #C81623; 
}
.erlou2ky span{
	font-size: 15px;
	font-family: Verdana;
	color: #E4393C;
	float: left;

}
/*二楼*/
/*三楼*/
#erlou3{
	width: 880px;
	height: 474px;
}
#sanloufuyi{
	margin-top: -237px;
	height: 46px;
}
#sanlounz{
	width: 98px;
}
#sanlounznr1{
	background: url(../image/mobilesicon.png) 0 0 no-repeat;
}
#sanlounznr2{
	background: url(../image/mobilesicon.png) 0 -26px no-repeat;
}
#sanlounznr3{
	background: url(../image/mobilesicon.png) 0 -52px no-repeat;
}
#sanloufuer{
	height: 121px;
}
#sanloufuer1{
	padding-top: 7px;
}
.sanloufusan{
	position: relative;
	height: 48px;
	padding: 21px 0 0;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	background: rgba(255,255,255,.7);
}
.sanloufusan li{
	float: left;
	width: 135px;
	height: 24px;
	padding-left: 25px;
	overflow: hidden;
	font-size: 14px;
	line-height: 24px;
}
.sanloufusan li a:hover{
	color: #C81623;
}
#sanloulunbo{
	height: 235px;
}
#sanloulunbo a{
	width: 439px;
	height: 236px;
}
.sanlouyj{
	display: block;
	float: left;
	height: 117px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
}
.sanloumd{
	display: block;
	float: left;
	height: 237px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
}
/*三楼*/
/*四楼*/
#siloufuyi{
	margin-top: -237px;
	height: 46px;
	padding-left: 10px;
	width: 320px;
}
#silounz{
	width: 145px;
	padding-left: 15px;
}
#silounznr1{
	background: url(../image/f4-icon.png) 0 0 no-repeat;
}
#silounznr2{
	background: url(../image/f4-icon.png) 0 -26px no-repeat;
}
/*四楼*/
/*五楼*/
#wulounznr1{
	background: url(../image/f5icon.png) 0 0 no-repeat;
}
#wulounznr2{
	background: url(../image/f5icon.png) 0 -26px no-repeat;
}
/*五楼*/
/*六楼*/
.liulou22xk{
	float: left;
	height: 236px;
	width: 219px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
	font-size: 0;
}
.liulouyi{
	width: 220px;
	/*height: 474px;*/
	float: left;
}
#liulouyd1{
	background: url(../image/f6-icon.png) 0 0 no-repeat;
}
#liulouyd2{
	background: url(../image/f6-icon.png) 0 -26px no-repeat;
}
#liulouyd3{
	background: url(../image/f6-icon.png) 0 -52px no-repeat;
}
#liulouyd4{
	background: url(../image/f6-icon.png) 0 -78px no-repeat;
}
.liulouer{
	
}
/*六楼*/
/*七楼*/
#qilounz1{
	background: url(../image/f7icon.png) 0 0 no-repeat;
}
#qilounz2{
	background: url(../image/f7icon.png) 0 -26px no-repeat;
}
#qilounz3{
	background: url(../image/f7icon.png) 0 -52px no-repeat;
}
#qilounz4{
	background: url(../image/f7icon.png) 0 -78px no-repeat;
}
/*七楼*/
/*十楼*/
#shilouts{
	height: 236px;
}
#shiloulunbo{
	height: 236px;
}
.shilouer{
	width: 440px;
	float: left;
}
.shilousan{
	width: 340px;
	height: 473px;
	float: left;
}
.shilousan1{
	height: 34px;
	padding-top: 13px;
	border-right: 1px solid #EDEDED;
}
.shilousan1 h3{
	margin: 0 15px 0 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 23px;
	border-bottom: 1px solid #e4e4e4;
	font-family: "microsoft yahei";
	font-weight: 400;
}
.shilousan2{
	height: 426px;
	padding-left: 15px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	/*float: left;*/
}
.shilousan2 li{
	height: 80px;
	padding-top: 20px;
	overflow: hidden;
}
.shilouzz{
	float: left;
	width: 48px;
	display: block;
	padding: 2px 15px 0 4px;
	text-align: center;
}
.shilouzz img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-bottom: 6px;
}
.shilouzz span{
	display: block;
	height: 18px;
	overflow: hidden;
}
.shilouzz span:hover{
	color: #C81623;
}
.shilouzze{
	float: left;
	padding-left: 8px;
	display: block;
	width: 80px;
	height: 80px;
	border-left: 1px dotted #dbdbdb;
}
.shilouzze img{
	width: 80px;
	height: 80px;
}
.shilounr{
	float: left;
	padding-left: 10px;
}
.shilounr a{
	width: 150px;
	height: 18px;
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.shiloumj{
	position: relative;
width: 115px;
height: 34px;
padding: 10px 15px 10px 20px;
background: #f8f8f8;
color: #999;
overflow: visible;
}
.shiloumj p{
	height: 38px;
	overflow: hidden;
}
.shiloumj p span{
	font-size: 38px;
	line-height: 38px;
	color: #aaa;
	vertical-align: -24px;
	font-family: Arial;
}
.shiloujian{
	position: absolute;
	left: -9px;
	top: 19px;
	color: #f8f8f8;
	font-size: 20px;
}
.shilouzyh{
	position: absolute;
	left: 4px;
	top: 7px;
	font-size: 38px;
	line-height: 38px;
	color: #aaa;
	font-family: Arial;
}
/*十楼*/
/*十一楼*/
#shiyilou2 {
width: 1000px;
height: 474px;
display: block;
}
#shiyiloulunbo{
	height: 236px;
	width: 394px;
	/*border:0;*/
}
#shiyilouer{
	width: 395px;
}
.shiyiloudp{
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb; 
	width: 196px;
	height: 117px;
	float: left;
	display: block;
}
.shiyiloudp img{
	padding: 0;
	margin: 0;
}
/*十2楼*/
/*foot start*/
.foot{
  width: 1349px;
  height: 457px;
  margin: auto;
}
.foot_top{
  width: 1349px;
  height: 276px;
  margin-bottom: 20px;
}
.d-k-h-s{
 width: 1349px;
 height: 54px;
 padding:20px 0;
 margin-bottom: 14px;
 position: relative;
 background: #f5f5f5;
 text-align: center;
}
.d-k-h-s span{
  width: 302px;
  height: 54px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top:20px;
  text-align: left;
  vertical-align: middle;
  font:400 18px/50px "microsoft yahei";
}
.duo{
  margin-left: -604px;
}
#d-k-h-s{
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 220px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.duo #d-k-h-s{
 background: url(../image/duo.png) ;

}
.d-k-h-s b{
  padding:0 10px;
  font-size: 24px;
  color: #c81623;
}
.kuai{
 margin-left: -304px;
}
.kuai #d-k-h-s{
 background: url(../image/kuai.png) ;

}
.hao{
 margin-left: 0;
}
.hao #d-k-h-s{
 background: url(../image/hao.png) ;

}
.sheng{
 margin-left: 304px;
}
.sheng #d-k-h-s{
 background: url(../image/sheng.png) ;

}

.bangzhu{
 width: 1211px;
 height: 168px;
 margin:0 69px;

}
.bangzhu dl{
  float: left;
}
.bangzhu dt{
 width: 199px;
 height: 24px;
 padding:6px 0;
 font:400 16px/24px "microsoft yahei";
}
.bangzhu dd{
  width: 199px;
  height: 120px;
  line-height: 20px;
}
.bangzhu div{
  width: 199px;
  height: 20px;
}
.foot div a:hover{
  color: #c81623;
}

.bangzhu1{
  width: 199px;
  height: 156px;
}

.bangzhu2,.bangzhu3,.bangzhu4{
  width: 199px;
  height: 136px;
}

.bangzhu5{
  width: 100px;
  height: 156px;
}
.coverage{
  width: 310px;
  height: 168px;
  float: right;
  background: url(../image/ditu.png) no-repeat 60px -131px;
}
.dt{
 width: 190px;
 height: 24px;
 padding:6px 40px 15px 80px;
 font:400 16px/24px "microsoft YaHei";
}
.dd{
 width: 190px;
 height: 72px;
 padding:0 40px 15px 80px;
}
.dd p{
 width: 190px;
 height: 54px;
}
.ar{
 width: 190px;
 height: 18px;
 text-align: right;

}
.foot_bottom{
  width: 1211px;
  height: 195px;
  margin: 0 69px;
}
#foot_bottom{
  width: 1211px;
  height: 144px;
  padding:20px 0 30px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.link{
 width: 1211px;
 height: 18px;
}
.copyright{
  width: 1211px;
  height: 74px;
  margin:10px 0;
}
.authentication{
  width: 1211px;
  height: 32px;

}
.links a{
  margin:0 10px;
}
.authentication a{
  margin:0 5px;
}


/*foot end*/